.scoreboard *{
    margin: 0;
    padding: 0;
}
.scoreboard{
    margin: 10px;
}
.scoreboard-total {
    overflow: hidden;
    text-align: center;
}
.scoreboard-total-left {
    float: left;
    font-size: 25px;
    margin: 10px;
}
.scoreboard-total-right {
    float: left;
    margin: 10px;
}
.scoreboard-start {
    background-image: url("../../assets/ic_rating_s.png");
    width: 55px;
    height: 11px;
    margin: 2px 0;
}
.scoreboard-comment{
    margin: 2px 0;
    font-size: 16px;
}
.scoreboard-percent p{
    display: block;
    line-height: 26px;
}
.percent-bar{
    display: inline-block;
    width: 50px;
    height: 10px;
    margin: 0 5px;
    background-color: #ffac2d;
}