.movie-detail-box * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.movie-detail-box a, a:hover {
    text-decoration: none;
}

.movie-name {

}
.movie-detail-box{
}
.movie-detail-body{
    overflow: hidden;
}
.movie-cover{
    float: left;
    margin: 10px;
}
.movie-info{
    float: left;
    max-width: 300px;
    margin:10px;
}
.scoreboard{
    float: left;
}
.movie-cover>img{
    width: 135px;
}
.movie-detail-box .summary{
    margin: 10px;
}
.movie-detail-box .summary>h6{
    color: #007722;
    font-size: 20px;
    margin: 10px;
}
@media screen and (max-width: 505px){
    .movie-cover>img{
        display: none;
    }
    .movie-detail-box *{
        color: #f1f1f1;
    }
}
@media screen and (min-width:504px){
    .movie-detail-box{
        background: #ffffff !important;
    }
}
