.review-item .user-info * {
  margin-right: 8px;
  vertical-align: middle;
}

.review-item .user-info img {
}

.review-item .feedback {
  vertical-align: middle;
}

.review-item .media-body {
  margin-left: 8px;
}

.review-item .user-info {
  display: flex;
  align-items: center;
}
.review-item .media-body * {
  margin-bottom: 4px;
}

.review-item .media-body p {
  margin-top: 4px;
}

.review-item .oops {
  margin-top: 16px;
}

.review-item .content {
  max-height: 5em;
}