.verification-input {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.verification-input .input {
    border: 1px solid #cccccc;
    border-radius: 2px;
    padding: 4px 6px;
    font-size: 14px;
}

.verification-input.invalid .input {
    outline-color: #FD5B78;
    border-color: #FD5B78;
}

.verification-input .msg {
    display: none;
}

.verification-input.invalid .msg {
    display: inline-block;
    position: absolute;
    margin-left: 12px;
    color: #FD5B78;
}