#loading {
    position: fixed;
}

#loading .mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


#loading .loading-msg {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -2em;
    transform: translateX(-50%) translateY(-50%);
    font-weight: lighter;
    font-size: 14px;
}

.loading {
    height: 140px;
    width: 140px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
